Source: pragha
Section: sound
Priority: optional
Maintainer: Matias De lellis <mati86dl@gmail.com>
Build-Depends: debhelper (>= 9),
 libglib2.0-dev (>= 2.32.0),
 libgtk2.0-dev (>= 2.24.0),
 libgstreamer0.10-dev (>= 0.10),
 libgstreamer-plugins-base0.10-dev (>= 0.10),
 libcdio-dev (>= 0.80),
 libcdio-paranoia-dev (>= 0.80),
 libcddb2-dev (>= 1.3.0),
 libtagc0-dev (>= 1.4.0),
 libnotify-dev (>= 0.4.4),
 libsqlite3-dev,
 build-essential,
 autoconf,
 intltool,
 libtool
Standards-Version: 3.9.5
Homepage: http://pragha.wikispaces.com/
Vcs-Git: https://github.com/pragha-music-player/pragha.git
Vcs-Browser: https://github.com/pragha-music-player/

Package: pragha
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Lightweight Music Player for GNU/Linux
 A Lightweight Music Player for GNU/Linux, based on GTK+,
 SQLite, completely written in C, constructed to be fast, 
 light, and simultaneously complete without obstructing
 your daily work.

